<ion-view view-title="Settings">
  <ion-content>
    <form ng-submit="setRoot(root, specialty)">
      <div class = "row">Root address for loading data:</div>
        <div class="list">
          <label class="item item-input">
              http://www.
              <input type="text" placeholder="root data address?" ng-model="root">
          </label>
            <div class= "row">
              Specialty:/ &nbsp
              <input class = "padding" type = "text" placeholder="specialty" ng-model = "specialty">
              /docs
          </div>
        </div>
        <div class="padding">
          <button id = "rootButton" type="submit" class="button button-block {{buttonColour}}">{{rootText}}</button>
        </div>
      </form>

        <div class = "row">Department Data:</div>
        <div class="row">
              http://www.{{root}}/{{specialty}}/docs/department.json
        </div>
        <div class="padding">
          <button type="button" class="button button-block {{departmentButtonColour}}" ng-click = "loadDepartmentData()">{{departmentButtonText}}</button>
        </div>


        <div class = "row">Clinical Data:</div>
        <div class="row">
              http://www.{{root}}/{{specialty}}/docs/clinical.json
        </div>
        <div class="padding">
          <button type= "button" class="button button-block {{clinicalButtonColour}}" ng-click = "loadClinicalData()">{{clinicalButtonText}}</button>
        </div>


      <div class="padding">
          <button type="button" class="button button-block button-assertive" ng-click="goHome()">Home</button>
        </div>

  </ion-content>
</ion-view>
